# Node
node_modules
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Env
.env
server/.env
client/.env

# Build outputs
dist
server/dist
client/dist

# Vite
.client
.vite

# VSCode
.vscode/
